.desktopRanges,
.desktopHistory {
  display: none;
}

@media (min-width: 64rem) {
  .desktopRanges {
    display: block;
  }

  .desktopHistory {
    display: contents;
  }
}

.desktopChart {
  display: none;
}
.mobileChart {
  display: block;
}
@media (min-width: 1024px) {
  .desktopChart {
    display: block;
  }
  .mobileChart {
    display: none;
  }
}
